:root {
    --text-size-small:1.25rem;
    --line-height-small: 1.75rem;
    --text-size-medium: 1.25rem;
    --line-height-medium: 1.75rem;
    --text-size-large: 1.75rem;
    --line-height-large: 2.25rem;
    --text-color-light-primary: #3C3535;
    --text-color-light-secondary: #777;
    --spacing-small: 1rem;
    --spacing-medium: 1.5rem;
    --spacing-large: 2rem;
  }

a {
    color: var(--text-color-light-primary);
    text-decoration: none;
    font-weight: 500;
}

p {
    font-size: var(--text-size-medium);
    line-height: var(--line-height-medium);
}

h3 {
    font-size: var(--text-size-large);
    line-height: var(--line-height-large);
    font-weight: 500;
}

h4 {
    font-size: var(--text-size-medium);
    line-height: var(--line-height-medium);
    font-weight: 600;
}

.section-header {
    padding: var(--spacing-small) var(--spacing-large);
}

.rule-break {
    width: var(--spacing-medium);
    height: 2px;
    background-color: var(--text-color-light-secondary);
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: var(--text-color-light-primary);
  }

#page-wrapper {
    display: flex;
    flex-direction: row;
}

#primary-nav {
    display: flex;
    height: 100vh;
    flex-direction: column;
    min-width: 13.75rem;
    padding: var(--spacing-small);
    justify-content: flex-end;
}

.nav__link {
    font-size: var(--text-size-medium);
    line-height: var(--line-height-medium);
    padding: 8px var(--spacing-small);
    margin: 2px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link .material-icons{
    opacity: 0;
    color: #999;
}

.nav__link:hover {
    background-color: #f3f3f3;
}

.nav__link:hover .material-icons {
    opacity: 1;
}

#content{
    flex: 1;
    flex-direction: column;
    height: 100vh;
}

#app-bar {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: var(--spacing-small) var(--spacing-medium);
}

    .identity {
        font-size: var(--text-size-small);
        line-height: var(--line-height-small);
        flex: 1;
        padding: 0 8px;
        font-weight: 500;
    }

    .menu-icon {
        flex: 1;
        padding: 0 12px 0 4px;
        font-size: 32px !important;
    }

#app {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: calc(100vh - 64px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


    .home-type-container {
        display: flex;
        scroll-snap-align: start;
        justify-content: flex-end;
        flex-direction: column;
        min-height: calc(85vh - 64px);
    }

        .home-intro {
            font-size: var(--text-size-large);
            line-height: var(--line-height-large);
            padding: var(--spacing-large) var(--spacing-large);
            color: var(--text-color-light-secondary);
        }

    .home-work-container {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 64px);
        scroll-snap-align: start;
    }

        .home-headline {
            font-size: 13vw;
            line-height: 86%;
            font-weight: 600;
            letter-spacing: -0.2vw;
            padding: var(--spacing-large) 28px; 
        }

        .horizontal-slider {
            display: flex;
            flex: 1;
            flex-direction: row;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            width: 100%;
            padding: var(--spacing-medium) 0;
            scroll-padding: var(--spacing-small);
        }

            .slide-wrapper {
                display: flex;
                padding: 0 6px;
                scroll-snap-align: start;
                min-width: calc(100% - 32px);
            }

                .slide-wrapper:first-child {
                    margin-left: 10px;
                }

                .slide {
                    display: flex;
                    flex-direction: column;
                    background-color: #DBF4F7;
                    flex: 1;
                }

                    .slide img {
                        width: 100%;
                    }

                    .slide-text {
                        padding: var(--spacing-small);
                    }

                    .slide-text p {
                        font-size: 1rem;
                    }


